@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Quicksand:wght@400;500;700&display=swap');

* {
    font-family: "Quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    position: relative;
}

a.link-sm {
    color: #728196;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}

button.btn-primary {
    background: #0E811C;
    padding: 16px 48px;
    border: none;
    border-radius: 250px;
    font-size: 20px;
    font-weight: 500;
    color: #ffff;
}

button.btn-secondary {
    background-color: transparent;
    padding: 16px 38px;
    border: none;
    border-radius: 250px;
    font-size: 20px;
    font-weight: 500;
    color: #242424;
    border: 2px solid #242424;
}

.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-brand {
    position: absolute;
    transform: translateX(-45%);
    left: 45%;
}

section.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
}

.column-illu-hero img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

img.bg-hero {
    top: 10%
}

.column-text-heading {
    padding-top: 124px;
    width: 50%;

}

h1.hero-heading {
    font-size: 64px;
    color: #242424;
}

p.text-p {
    margin: 24px 0;
    font-size: 18px;
    color: #728196;
    line-height: 150%;
}

.title-heading {
    width: 100%;
    display: flex;
    height: 28vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-heading h1 {
    color: #242424;
    font-size: 48px;
}

.title-heading p {
    color: #728196;
    font-size: 18px;
    margin-top: 24px;
}

.row-3-col {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 60px 0;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col h3 {
    color: #242424;
    font-size: 24px;
    margin-left: 30px;
}

.typograph {
    display: flex;
    align-items: center;
    margin: 120px 0;
}

.typograph img {
    margin-right: 40px;
}

.text-typograph h1 {
    font-size: 48px;
    font-weight: 700;
    color: #242424;

}

.text-typograph p {
    color: #728196;
    margin: 32px 0;
    line-height: 150%;
}

section.pricelist {
    padding: 64px;
    width: 100%;
    margin: 124px 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-lightgreen {
    background-color: #EAF5EB;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 56px;
    color: #242424;
}

.heading p {
    color: #728196;
    margin: 10px 0;
    font-size: 18px;
}

.switcher {
    background-color: #D1E9D4;
    padding: 8px;
    border-radius: 100px;
    margin: 42px 0;
}

button.btn-on-tab {
    color: #EAF5EB;
    background-color: #0E811C;
    border: none;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 600;
}

button.btn-off-tab {
    background-color: transparent;
    color: #728196;
    font-size: 24px;
    padding: 8px 16px;
    border: none;
    font-weight: 600;

}

.row-card-pricelist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    column-gap: 24px;
}

.card-price {
    border: 3px solid #242424;
    border-radius: 30px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.main-green {
    color: #0E811C !important;
}

.stroke-main-green {
    border: 3px solid #0E811C;
    color: #0E811C;
}

.descripition-price {
    height: 38vh;
}

.label h3 {
    font-size: 24px;
    font-weight: 700;
    color: #242424;
}

.label h1 {
    font-size: 48px;
    color: #242424;
}

.label h1 span {
    font-size: 24px;
    color: #242424;
}

.pricelist-features p {
    color: #728196;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.pricelist-features {
    margin-top: 20px;
}

.pricelist-features img {
    margin-right: 8px;

}

.bg-dark {
    background: #242424 !important;
}

.cta-subscribe button {
    padding: 18px 62px;
}

.cta-subscribe {
    margin: auto;
}